<div>
  <nav class="navbar">
    <div class="navdiv">
      <div class="la">
        <div class="ic">
          <div class="logo"><a href="#">NRG</a></div>
          <div class="logo"><a href="#">VHOS</a></div>
        </div>

        <ul>
          <li class="navLink"><a href="#">OPPORTUNITIES</a></li>
          <li class="links"><a href="#">RESEARCH</a></li>
          <li class="links"><a href="#">MAINTENANACE</a></li>
          <li class="links"><a href="#">CLOSING QUEUE</a></li>
        </ul>
      </div>
      <button><a href="#">SignIn</a></button>
    </div>
  </nav>
  <table class="content-table">
    <thead>
      <tr>
        <th>Site Id</th>
        <th>POD</th>
        <th>DC</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>CustomerName</th>
        <th>Meter Type</th>
        <th>Cycle</th>
        <th>Load Profile</th>
        <th>Profile</th>
        <th>Rate Code</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="fd">341753665656</td>
        <td>1066878696996468468</td>
        <td>CPL</td>
        <td>921 HOUSTON ST</td>
        <td>PORTLAND</td>
        <td>TX</td>
        <td>664984</td>
        <td>Century 21</td>
        <td>Scalar</td>
        <td>9</td>
        <td>BUSLOLF</td>
        <td>G2</td>
        <td>857</td>
      </tr>
      <tr>
        <td class="fd">341753665656</td>
        <td>1066878696996468468</td>
        <td>CPL</td>
        <td>921 HOUSTON ST</td>
        <td>PORTLAND</td>
        <td>TX</td>
        <td>664984</td>
        <td>Century 21</td>
        <td>Scalar</td>
        <td>9</td>
        <td>BUSLOLF</td>
        <td>G2</td>
        <td>857</td>
      </tr>
    </tbody>
  </table>
</div>
